# Copy this file to `.env` and fill with your Supabase credentials
# Do NOT commit your real `.env` values to source control.

VITE_SUPABASE_URL=https://uwnsppzdthxudnspldxx.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable__ikhOoz8QTuSwVLLRG1hiw_UCArV6SH
